/Aula07/nbproject/private/
/Aula07/build/
/Aula07/dist/
/Aula09/nbproject/private/
/Aula09/build/
/Aula09/dist/
/Matrícula/nbproject/private/
/Matricula/nbproject/private/
/Pessoas/nbproject/private/
/projetoPessoas/nbproject/private/
/projetoPessoas/build/
/Aula11/nbproject/private/
/Aula11/build/
/Aula12/nbproject/private/
/Aula12/build/
/Aula12/dist/